body {
  margin: 0;
  font-family: "inter";
  background-color: #F5F5F7;
  
}

.header1 {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.header a {
  text-decoration: none;
  color: #000000;
}
.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}
header {
  width: 100%;

  background-color: #f5f5f7cc;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 60px;
  letter-spacing: -0.28px;
  vertical-align: middle;
  color: #000000;
  box-sizing: border-box;
}

.menu {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  color: #000000;
}
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}
#toggle-menu {
  display: none; /* input харагдахгүй */
}
.right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.help {
  display: flex;
  gap: 16px;
}
.help1 {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 4px;
}
.help2 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 700;
  vertical-align: middle;
}
.help3 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 400;
  vertical-align: middle;
}
.gradient-text {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  line-height: 52px;
  box-sizing: border-box;
  -webkit-text-fill-color: transparent; /* Текстийг ил тод болгох */
  background: linear-gradient(
    to right,
    #0090f7,
    #ba62fc,
    #f2416b,
    #f55600
  ); /* Gradient өнгө */
  -webkit-background-clip: text; /* Text clip */
  flex-shrink: 0;
}
.header2-text {
  font-size: 44px;
  font-weight: 700;
  line-height: 52px;
  display: flex;
  flex-direction: row-reverse;
  color: #6e6e73;
  gap: 32px;
  flex-shrink: 0;
}
.header2 {
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 0 140px;
  box-sizing: border-box;
  flex-shrink: 0;
  white-space: nowrap;
}
.header3 {
  background-image: url(/Untitled/images/page2-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75px;
}
.product-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-left: 140px;
  padding-right: 140px;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
}
.product-item {
  display: flex;
  gap: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
  text-align: center;
}
.product-item1,
.product-item2,
.product-item3,
.product-item4,
.product-item5,
.product-item6,
.product-item7,
.product-item8,
.product-item9,
.product-item10,
.product-item11 {
  width: 136px;
  height: 146px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gradient-text1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  box-sizing: border-box;
  -webkit-text-fill-color: transparent; /* Текстийг ил тод болгох */
  background: linear-gradient(
    to right,
    #0090f7,
    #ba62fc,
    #f2416b,
    #f55600
  ); /* Gradient өнгө */
  -webkit-background-clip: text; /* Text clip */
   flex-shrink: 0;
}

.mid1-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  color: #6e6e73;
  gap: 32px;
  flex-shrink: 0;
  white-space: nowrap;
  
  
}
.mid1-text p {
  position: absolute;
  padding-top: 10px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.mid1 {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 140px;
  padding-top: 60px;
  padding-right: 140px;
 
  
}
.storecard {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
    overflow-x: scroll;
  overflow-y: hidden;
  gap: 20px;
  
 
}
.storecard-img {
  width: 480px;
  height: 500px;
  border-radius: 18px;
}
.storecard1 {
  position: relative;
}
.storecard1 p {
  
font-weight: 700;
font-size: 26px;
line-height: 32px;
letter-spacing: 0.2px;
vertical-align: middle;


  padding-left: 30px;
  padding-top: 54px;
  box-sizing: border-box;
  position: absolute;
}
.storecard1 p1 {
  

font-weight: 400;
font-size: 18px;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;


  padding-left: 30px;
  padding-top: 120px;
  box-sizing: border-box;
  position: absolute;
}
.storecard p2 {
  font-family: Inter;
font-weight: 700;
font-size: 12px;
line-height: 16px;
letter-spacing: 0px;
vertical-align: middle;

color: #B64400;
padding-left: 30px;
  padding-top: 60px;
  box-sizing: border-box;
  position: absolute;

}
.mid2 {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 140px;
  padding-top: 60px;
  padding-right: 140px;
  flex-shrink: 0;
  
}
.mid2-gray {
  
  width: 400px;
  height: 500px;
  flex-shrink: 0;
  position: relative;
}

.mid2-white{
  flex-shrink: 0;
width: 313px;
height: 500px;
background-color: white; 
border-radius: 18px;
position: relative;

}
.mid2-white p{
  padding-left: 41.5px;
font-weight: 700;
font-size: 18px;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;
padding-top: 37px;
position: absolute;

}
.mid2-white p1 {
color: #B64400;
font-weight: 700;
font-size: 12px;
line-height: 16px;
letter-spacing: 0px;
vertical-align: middle;
padding-left: 41.5px;
position: absolute;
padding-top: 31px;

}
.mid2-white p2 {
font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: 0px;
vertical-align: middle;
padding-top: 145px;
padding-left: 41.5px;
position: absolute;
}
.listitem {
   display: flex;
   
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 20px;
 

}
.list-img {
  width: 400px;
  height: 500px;
  flex-shrink: 0;
   border-radius: 18px;
}
.mid2-gray p {

font-weight: 700;
font-size: 26px;
line-height: 32px;
letter-spacing: 0.2px;
vertical-align: middle;

width: 317px;
padding-top: 33px;
padding-left: 30px;
box-sizing: border-box;
  position: absolute;
}
.list-img1 {
  padding-left: 41.5px;
  padding-top: 70px;
  width: 230px;
  height: 230px;
}
.mid3-2 {
  width: 100%;
  
  box-sizing: border-box;
  
  gap: 20px;
  position: relative;
   width: 480px;
  height: 500px;
  

}

.mid3-2 p {

font-weight: 700;
font-size: 26px;
line-height: 32px;
letter-spacing: 0px;
vertical-align: middle;


  padding-left: 30px;
  padding-top: 50px;
  box-sizing: border-box;
  position: absolute;
  width: 335px;
  height: 130px;
}
.mid3-1{
  display: flex;
    overflow-x: scroll;
  overflow-y: hidden;
  gap: 20px;
  
}
.mid3-3 {
display: flex;
flex-wrap: wrap;
flex-direction: column;

border-radius: 18px;
gap: 20px;

width: 646px;
height: 500px;
flex-shrink: 0;


}
.mid3-3box {
  width: 313px;
  height: 240px;
  
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
font-weight: 700;
font-size: 22px;
line-height: 28px;
letter-spacing: 0px;
vertical-align: middle;

}
.mid3-4 {
  width: 480px;
  height: 500px;
  position: relative;
  flex-shrink: 0;
}

.mid3-4 p {
 
font-weight: 700;
font-size: 25px;
line-height: 32px;
letter-spacing: 0px;
vertical-align: middle;
width: 330px;
height: 96px;
padding-left: 30px;

  position: absolute;
  padding-top: 45px;
}
.mid3-4 p1 {
  color: #6E6E73;
font-weight: 700;
font-size: 12px;
line-height: 16px;
letter-spacing: 0px;
vertical-align: middle;
padding-left: 30px;
padding-top: 45px;
position: absolute;

}

.mid3-4 p2 {
 
font-weight: 700;
font-size: 25px;
line-height: 32px;
letter-spacing: 0px;
vertical-align: middle;
width: 330px;
height: 96px;
padding-left: 30px;
padding-top: 60px;

  position: absolute;
}
.mid3-4 p4 {
  color: white;
font-weight: 700;
font-size: 12px;
line-height: 16px;
letter-spacing: 0px;
vertical-align: middle;
padding-left: 30px;
padding-top: 40px;
position: absolute;

}
.mid3-4 p3 {
 
font-weight: 700;
font-size: 25px;
line-height: 32px;
letter-spacing: 0px;
vertical-align: middle;
width: 330px;
height: 96px;
padding-left: 30px;
color: white;
  position: absolute;
  padding-top: 65px;
}
.mid4-img {
  width: 480px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 18px;
}
.mid3-4 p5 {
  color: #6E6E73;
font-weight: 700;
font-size: 12px;
line-height: 16px;
letter-spacing: 0px;
vertical-align: middle;
padding-left: 30px;
padding-top: 30px;
position: absolute;

}
.mid3-4 p6 {
 
font-weight: 700;
font-size: 25px;
line-height: 32px;
letter-spacing: 0px;
vertical-align: middle;
width: 330px;
height: 96px;
padding-left: 30px;

  position: absolute;
  padding-top: 55px;
}
.last {
  width: 400px;
  height: 500px;
  position: relative;
  border-radius: 18px;
  flex-shrink: 0;
  
}
.last-img {
width: 400px;
height: 500px;
position: absolute;
border-radius: 18px;

}
.last p {
  
font-weight: 700;
font-size: 12px;
line-height: 16px;
letter-spacing: 0px;
vertical-align: middle;
color: #6E6E73;
padding-top: 31px;
position: absolute;
padding-left: 30px;
box-sizing: border-box;
}
.last p1 {
 position: absolute;
font-weight: 700;
font-size: 26px;
line-height: 32px;
letter-spacing: 0px;
vertical-align: middle;
color: black;
padding-top: 64px;
padding-left: 30px;
box-sizing: border-box;
width: 340px;
}
.last p2 {
   position: absolute;
font-weight: 700;
font-size: 26px;
line-height: 32px;
letter-spacing: 0px;
vertical-align: middle;
color: white;
padding-top: 64px;
box-sizing: border-box;
padding-left: 30px;
}
.mid4 {
  display: flex;
  gap: 20px;
  width: 100%;
      overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 30px;
  box-sizing: border-box;
}
.last p3 {
  position: absolute;
font-weight: 400;
font-size: 17px;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;
padding-left: 30px;
padding-top: 169px;
width: 320px;
}
.end {

}
.end1 {

font-weight: 700;
font-size: 26px;
line-height: 32px;
letter-spacing: 0px;
vertical-align: middle;
padding-left: 140px;
padding-top: 60px;
padding-bottom: 24px;
box-sizing: border-box;
}
.end2-2 {
  width: 137px;
  height: 40px;
  border: 1px solid black;
  border-radius: 999px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  padding-left: 12px;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;
flex-shrink: 0;
padding-right: 12px;
box-sizing: border-box;
}
.end2-1 {
  width: 125px;
  height: 40px;
  border: 1px solid black;
  border-radius: 999px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  padding-left: 12px;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;
flex-shrink: 0;
padding-right: 12px;
box-sizing: border-box;
}
.end2-3 {
  width: 91px;
  height: 40px;
  border: 1px solid black;
  border-radius: 999px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  padding-left: 12px;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;
flex-shrink: 0;
padding-right: 12px;
box-sizing: border-box;
}
.end2-4 {
  width: 114px;
  height: 40px;
  border: 1px solid black;
  border-radius: 999px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  padding-left: 12px;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
vertical-align: middle;
flex-shrink: 0;
padding-right: 12px;
box-sizing: border-box;
}

.end3 {
  display: flex;
  gap: 12px;
  padding-left: 140px;
  padding-bottom: 60px;
  box-sizing: border-box;
}
.help-ipad {
  display: none;
}
@media (max-width: 960px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
  }
  .right {
    display: flex;
    flex-direction: row-reverse;
  }
  .menu {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    background: white;
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }

  .hamburger {
    display: block;
  }

  #toggle-menu:checked + .hamburger + .menu {
    display: flex;
  } 
  .header2 , .product-list {
    width: 100%;
    padding: 0;
  }
  .help {
    display: none;
  }
  .help-ipad { 
    display: block;
    padding-right:  680px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .header2-text {
    max-width: 960px;
    font-size: 24px;
  }
  .mid1-text {
    width: 960px;
    font-size: 24px;
  }
 
  body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 60px;
  box-sizing: border-box;
  
  width: 960px;
}
.end {
  padding-right: 120px;
}
}


@media (max-width: 540px) {
  .menu {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    background: white;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .hamburger {
    display: block;
  }

  #toggle-menu:checked + .hamburger + .menu {
    display: flex;
  }
  body {
    max-width: 540px;
    display: flex;
  }
  .help-ipad {
    display: block;
    padding-top:  20px;
    padding-bottom: 20px;
    padding-right: 250px;
    box-sizing: border-box;
  }
  .header2-text {
   font-size: 18px;
    padding: 0;
  }
  .mid1-text {
    font-size: 18px;
    flex-shrink: 1;
    white-space: wrap;
    max-width: fit-content;
  }
  .end3 {
    box-sizing: border-box;
    padding-right: 250px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex:start;
    gap: 18px;
  }
}